{% extends 'navbar.html' %}

{% block content %}
<h1>Login!</h1>

{% if error %}
{{ error }}<br><br>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Login!">
</form>
{% endblock %}