{% extends 'navbar.html' %}

{% block content %}
<h1>Sign Up!</h1>

{% if error %}
{{ error }}<br><br>
{% endif %}

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password1"><br>
    Confurm password:<br>
    <input type="password" name="password2"><br>
    <br>
    <input type="submit" value="Sign Up!">
</form>
{% endblock %}