<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'check_in' %}">Check Link</a> |
{% if user.is_authenticated %}
<a href="{% url 'my_links' %}">My Links</a> |
<a href="#" onclick="document.getElementById('logForm').submit()">Logout</a>
<form method="post" id="logForm" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="hidden">
</form>
{% else %}
<a href="{% url 'signup' %}">Signup</a> |
<a href="{% url 'login' %}">Login</a>
{% endif %}
<br>
{% block content %}
{% endblock %}