{% extends 'navbar.html' %}

{% block content %}

<h1>Check your url usage.</h1>

<form method="post" action="{% url 'check_out' %}">
    {% csrf_token %}

    Your short URL code (http://thissite.li/<b>%url_code%</b>:<br>
    <input type="text" name="code"><br>
    <br>
    <input type="submit" value="Check!">
</form>

{% endblock %}