{% extends 'navbar.html' %}

{% block content %}
{% if error %}
<h1>{{ error }}</h1><br>
<a href="{% url 'home' %}">Go back.</a>
{% else %}

<h1>Your link is created!</h1><br>
<br>
<p>
    Original url is:<br>
    <a href="{{ curr_result.orig_url }}">{{ curr_result.orig_url }}</a><br>
    <br>
    Short url is:
    <a href="{% url 'use' curr_result.url_code %}">http://{{ site }}/{{ curr_result.url_code }}</a><br>
    <br>
    <a href="{% url 'home' %}">Create another one..</a>
</p>

{% endif %}

{% endblock %}