{% extends 'navbar.html' %}

{% block content %}
{% if error %}
<h2>{{ error }}</h2><br>
{% endif %}

<h1>Do you really want to delete link to:</h1><br>
<h3>{{ curr_link.orig_url }}</h3>
<br>
<form method="post" action="{% url 'delete' curr_link.url_code %}">
    {% csrf_token %}
    <input type="submit" value="Yes, delete.">
</form>
<br>
<a href="{% url 'my_links' %}">No, go back.</a>

{% endblock %}