{% extends 'navbar.html' %}

{% block content %}
{% if error %}
<h2>{{ error }}</h2><br>
{% endif %}

<h1>Edit link url.</h1><br>
<br>
<form method="post" action="{% url 'edit' curr_link.url_code %}">
    {% csrf_token %}

    Current URL:<br>
    <input type="text" name="url" value="{{ curr_link.orig_url }}"><br>
    <br>
    <input type="submit" value="Save">
</form>

{% endblock %}