{% extends 'navbar.html' %}

{% block content %}

<h1>Create short url.</h1><br>
<br>
<form method="post" action="{% url 'create' %}">
    {% csrf_token %}

    Your URL:<br>
    <input type="text" name="url"><br>
    <br>
    <input type="submit" value="Generate">
</form>

{% endblock %}