{% extends 'navbar.html' %}

{% block content %}

{% for link in links.all %}
<hr>
<p style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
    Link code is:
    <a href="{% url 'use' link.url_code %}">http://{{ site }}/{{ link.url_code }}</a><br>
    It was used {{ link.times_used }} times.<br>
    And original url is:
    <a href="{{ link.orig_url }}">{{ link.orig_url }}</a><br>
    It created in: {{ link.creation_date_pretty }} ||
    And will expire in: {{ link.deletion_date_pretty }}<br>
    +----------------------------------------+<br>
    | <a href="{% url 'edit' link.url_code %}">Edit Link</a> |
    <a href="#" onclick="document.getElementById('refrForm{{ link.url_code }}').submit()">Refresh Link</a> |
    <a href="{% url 'delete' link.url_code %}">Delete Link</a> |<br>
    +----------------------------------------+<br>
    <form method="post" id="refrForm{{ link.url_code }}" action="{% url 'refresh' link.url_code %}">
    {% csrf_token %}
    <input type="hidden">
</form>
</p>
{% endfor %}



{% endblock%}